nav {
    display: flex;
    padding: 10px 10%;
    background-color: rgb(18, 150, 132);
    
}

nav a{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.logo {
    margin-right: auto;
}

#login {
    margin: 5px;
    background-color: white;
    border: 2px solid rgb(18, 150, 132);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: rgb(18, 150, 132);
}

#login:hover{
    color: white;
    background-color: rgb(18, 150, 132);
}

